<InspectCodeOptions>
    <Debug>true</Debug>
    <IncludedProjects>
        <IncludedProjects>TestProject1</IncludedProjects>
    </IncludedProjects>
    <OutputFile>C:\TeamCity-rel09\TeamCity\buildAgent\work\6632f002219c15a5\1.xml</OutputFile>
    <SolutionFile>dotnettests.sln</SolutionFile>
</InspectCodeOptions>
